<div class="center section">
    <div ng-repeat="d in trip.car" class="flight-leg">
        <hr ng-show="$index != 0"/>
        <div class="flight-section">
            <p>Rental Company <span ng-click="removeTripSection('car', $index)" ng-show="$index != 0" class="icon-right delete-section">X</span></p>
            <input ng-model="d.company" type="text" />
        </div>
         <div class="flight-section">
            <p>Phone Number</p>
            <input ng-model="d.phone" type="text" />
        </div>
        <div class="flight-section">
            <p>Confirmation Number</p>
            <input ng-model="d.confirmation" type="text" />
        </div>
        <div class="flight-section">
            <p>Pick-Up Location</p>
            <input ng-model="d.pickUp" type="text" />
        </div>
        <div class="flight-section">
            <p>Pick-Up Date/Time</p>
            <input ng-model="d.pickUpDate" type="text" />
            <select ng-model="d.pickUpHour" class="hour" ng-options="h for h in hour">
                 <option value="" selected disabled>Hour</option>
            </select>
            <select ng-model="d.pickUpMin" class="min" ng-options="m for m in minute">
                 <option value="" selected disabled>Minute</option>
            </select>
            <select ng-model="d.pickUpAmPm" ng-options="t for t in ampm">
                <option value="" selectde disabled>am/pm</option>
            </select>
        </div>
        <div class="flight-section">
            <p>Drop-Off Location</p>
            <input ng-model="d.dropOff" type="text" />
        </div>
        <div class="flight-section">
            <p>Drop-Off Date/Time</p>
            <input ng-model="d.dropOffDate" type="text" />
           <select ng-model="d.dropOffHour" class="hour" ng-options="h for h in hour">
                 <option value="" selected disabled>Hour</option>
            </select>
            <select ng-model="d.dropOffMin" class="min" ng-options="m for m in minute">
                 <option value="" selected disabled>Minute</option>
            </select>
            <select ng-model="d.dropOffAmPm" ng-options="t for t in ampm">
                <option value="" selectde disabled>am/pm</option>
            </select>
        </div>
        <div class="flight-section">
            <p>Notes</p>
            <textarea ng-model="d.notes"></textarea>
        </div>
    </div>
    <p class="add-button" ng-click="addTripSection('car')">+ Add Rental</p>
</div>
<hr/>
<div class="center section">
	<a href="#my-trips/lodging"><button class="save" ng-click="saveTrip()">Next</button></a>
</div>