<div class="center section">
    <div ng-repeat="d in trip.departure" class="flight-leg">
        <hr ng-show="$index != 0"/>
        <div class="flight-section">
            <p>Airline Name <span ng-click="removeTripSection('departure', $index)" ng-show="$index != 0" class="icon-right delete-section">X</span></p>
            <input ng-model="d.airline" type="text" />
        </div>
         <div class="flight-section">
            <p>From</p>
            <input ng-model="d.from" type="text" />
        </div>
        <div class="flight-section">
            <p>To</p>
            <input ng-model="d.to" type="text" />

        </div>
        <div class="flight-section">
            <p>Flight Date/Time</p>
            <input ng-model="d.date" type="text" />
            <select ng-model="d.hour" class="hour" ng-options="h for h in hour">
                 <option value="" selected disabled>Hour</option>
            </select>
            <select ng-model="d.min" class="min" ng-options="m for m in minute">
                 <option value="" selected disabled>Minute</option>
            </select>
            <select ng-model="d.ampm" ng-options="t for t in ampm">
            	<option value="" selectde disabled>am/pm</option>
            </select>
        </div>
        <div class="flight-section">
        <p>Notes</p>
            <textarea ng-model="d.notes"></textarea>
        </div>
    </div>
    <p class="add-button" ng-click="addTripSection('departure')">+ Add Connection</p>
</div>
<hr/>
<div class="center section">
	<a href="#my-trips/return" ng-click="saveTrip()"><button class="save">Next</button></a>
</div>