<div class="center section">
    <div class="flight-leg">
        <h2 class="trip-section-title hidden"><div style="background-position:-30px" class="title-img"></div>Flight Information</h2>
        <div class="flight-section">
            <p>Reservation Number</p>
            <input ng-model="trip.reservationNumber" class="flight-reservation" type="text" />
        </div>
        
        <div class="flight-section">
            <p>Did you park at TVC?</p>
            <input id="parking-no"  type="radio" value="Yes" ng-model="trip.parkAirport"/> <label for="parking-yes"> Yes</label>
            <input id="parking-yes"  type="radio" value="No" ng-model="trip.parkAirport"/><label for="parking-no"> No</label> 
        </div>
        <div ng-show="trip.parkAirport == 'No'" class="flight-section">
            <p>Where did you park?</p>
            <textarea class="flight-park"></textarea>
        </div>
        <div ng-show="trip.parkAirport == 'Yes'" class="flight-section">
            <p>Tap the map approximately where you parked.</p>
            <div class="parking-map-container">
                <div class="parking-top"></div>
                <!--Row 1-->
                <div class="parking-spacer"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div class="parking-spacer"></div>
                <!--Row 2-->
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <!--Row 2-->
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
                <div onclick="" class="parking-mark"></div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="center section">
    <a href="#my-trips/departure" ng-click="saveTrip()"><button class="save">Next</button></a>
</div>