<div class="page-padding">
<div class="row-fluid">
	<div class="span4 center-text">
    	<img src="img/american.gif"/><br/>
        <p>American Airlines <br/>
        <a target="_blank" href="http://aa.com">www.aa.com</a><br/>
        <span class="phone">(800) 433-7300</span><br/>
        <a href="http://www.aa.com/i18n/travelInformation/baggage/delayed.jsp" target="_blank">American Airlines Baggage Issues</a><br/>
         <a href="http://www.aa.com/i18n/businessPrograms/groupsMeetings/main.jsp" target="_blank">Group Discounts</a>
        </p> 
    </div>
     <hr class="visible-phone"/>
    <div class="span4 center-text">
    	<img src="img/delta.gif"/><br/>
        <p>Delta Air Lines <br/>
        <a target="_blank" href="http://delta.com">www.delta.com</a><br/>
        <span class="phone">(800) 221-1212</span><br/>
        <a href="https://www.delta.com/content/www/en_US/traveling-with-us/baggage/after-your-trip/delayed-lost-or-damaged.html" target="_blank">Delta Air Lines Baggage Issues</a><br/>
        <a href="http://www.delta.com/content/www/en_US/traveling-with-us/planning-a-trip/group-travel.html" target="_blank">Group Discounts</a>
        </p>
    </div>
    <hr class="visible-phone"/>
    <div class="span4 center-text">
    	<img src="img/united.gif"/><br/>
        <p>United Airlines <br/>
        <a target="_blank" href="http://united.com">www.united.com</a><br/>
        <span class="phone">(800) 864-8331</span><br/>
        <a href="http://www.united.com/web/en-us/content/travel/baggage/delayed.aspx" target="_blank">United Airlines Baggage Issues</a><br/>
        <a href="http://www.united.com/web/en-us/content/products/groups/grouptravel/default.aspx" target="_blank">Group Discounts</a>
        </p>
    </div>
</div>
<hr/>
<p>The Transportation Security Administration (TSA) website at <a target="_blank"  href="http://www.tsa.gov">http://www.tsa.gov</a> has up-to-date information on all of the new security measures for air travelers.</p>
</div>