<div class="page-padding">
<div class="row-fluid">
    	<div class="span12">
        	<img src="img/facility-small.jpg" class="img-left visible-phone"/>
        	<h2>State-of-the-Art Terminal in Traverse City, Michigan</h2>
            <p>Visitors to the Cherry Capital Airport terminal complex will find close-in parking, electronic check-in computers, and advanced baggage screening. For those passengers who are dropped off, there is a weather-resistant canopy entrance. Once inside the terminal complex, passengers may check in at one of the airline counters or may bypass the line with a self-service computer, print out a boarding pass, and be on their way.</p>
        </div>
    </div>
    <div class="row-fluid">
    	<div class="span12">
        	 <img src="img/airport-lounge-area.jpg" class="img-left"/>
             <h2>Frank Lloyd Wright-Inspired</h2>
            <p>Designed by Reynolds, Smith and Hills, Inc. of Jacksonville, Florida, the terminal is Arts and Crafts/Frank Lloyd Wright inspired and encompasses the openness and natural setting of the Grand Traverse region. Visitors to the terminal complex will find a welcome area reminiscent of a north woods lodge, complete with a glowing stone fireplace – a perfect destination to welcome friends and frequent fliers to the Traverse City region. Throughout the terminal, visitors will find cherry wood, copper light fixtures, stone wainscoting, and stained glass in the famous Frank Lloyd Wright style.</p>
        </div>
    </div>
    <div class="row-fluid">
    	<div class="span12">
        
        	<h2>Concessions and Passenger Boarding Area</h2><img src="img/boarding-area.jpg" class="img-right"/>
            <p>The passenger waiting areas feature floor-to-ceiling windows. Six flight desks flank the expansive room and four boarding bridges for jet service extend out from the structure. A set of stairs descends to the tarmac for boarding regional airplanes. Business and leisure travelers will find wireless Internet access and private phone areas to accomplish their tasks while in the holding area. </p>
            <p>Cherry Capital Airport is home to ‘Cherry Country Traditions’ gift shop. From bathing suits to bags, it is the perfect place to find cherry wear and cherry gear, plus a large selection of cherry novelties to give or to take home as souvenirs from the Cherry Capital of the World! Visitors will find a wide selection of books, magazines, newspapers, and toiletries. Cherry Country Traditions sells TSA (Transportation Security Administration) approved carry on bags ready for your flight. The gift shop is open every day.</p>
            <br/>
            <img src="img/gift-shop.jpg" class="img-right"/>
            <img src="img/cafe.jpg" class="img-right"/>
            
            <p>Beyond the TSA checkpoint, a second concessions area gives ticketed passengers the opportunity to quench their thirst, satisfy their appetite, and purchase gifts before departing. In addition to many food and beverage options (including beer and wine), travelers may purchase local products to take home. </p>
        </div>
    </div>
     <div class="row-fluid">
    	<div class="span12">
        <img src="img/airport-boarding.jpg" class="img-left"/>
        	<h2>Economic Impact</h2>
            <p>The economic impact of Cherry Capital Airport relative to the region is said to be approximately $200 million annually, as noted by the State of Michigan Department of Transportation.</p>
        </div>
    </div>
</div>