<div class="page-padding">
    <div class="row-fluid">
        <div class="span5">
            <h2>Ground Transportation</h2>
            <p> <span class="rental-comp">AAA Charlevoix Taxi: </span> <br/><span class="phone">(231) 497-4200</span> </p>
            <p> <span class="rental-comp">A. Paradise Shuttle &amp; Tours: </span> <br/><span class="phone">(231) 409-2137</span> </p>
            <p> <span class="rental-comp"><a target="_blank" href="http://www.bata.net/">BATA - Bay Area Transportation Authority</a>:</span> <br/><span class="phone">(231) 941-2324</span></p>
            <p><span class="rental-comp">Bay To Bay Shuttle: </span><br/> <span class="phone">(231) 373-5797</span> </p>
            <p><span class="rental-comp">By The Bay Tours: </span><br/> <span class="phone">(231) 932-1065</span> </p>
            <p> <span class="rental-comp">Cherry Capital Cab: </span><br/> <span class="phone">(231) 941-8294</span> </p>
            <p> <span class="rental-comp">Chippewa Cab: </span><br/> <span class="phone">(231) 946-4688</span> </p>
            <p> <span class="rental-comp">Dan’s Airport Transportation: </span><br/> <span class="phone">(231) 645-9696</span></p>
            <p> <span class="rental-comp">Grand Traverse Tours: </span><br/> <span class="phone">(231) 947-7433</span></p>
            <p><span class="rental-comp">Knight Transportation Service:</span><br/> <span class="phone"> (231) 218-5062 </span></p>
          <p> <span class="rental-comp">Sovereign Conveyance: </span><br/> <span class="phone">(231) 709-7207</span> </p>
            <p> <span class="rental-comp">TC Shuttle &amp; Car Service:</span><br/><span class="phone"> (231) 631-0004</span></p>
        </div>
    </div>
</div>