<div class="page-padding">
    <div class="row-fluid">
    <div class="span7">
            <h2>Rental Cars at Cherry Capital Airport</h2>
            <img class="img-left hidden-phone" src="img/car-rentals.jpg" style="width:300px; height:200px;"/>
            <p>There are 5 rental car companies that service the Cherry Capital Airport in Traverse City, Michigan. These automobile rental companies are located at the site of the Cherry Capital Airport terminal and the close proximity of the rental cars makes getting in and out of the airport a very easy task. For more information, please contact the rental car companies at their local Traverse City phone numbers listed below.</p>
        </div>
        <div class="span5">
            <h2>Ground Transportation</h2>
            <p> <span class="rental-comp">AAA Charlevoix Taxi: </span> <br/><span class="phone">(231) 497-4200</span> </p>
            <p> <span class="rental-comp">A. Paradise Shuttle &amp; Tours: </span> <br/><span class="phone">(231) 409-2137</span> </p>
            <p> <span class="rental-comp"><a target="_blank" href="http://www.bata.net/">BATA - Bay Area Transportation Authority</a>:</span> <br/><span class="phone">(231) 941-2324</span></p>
            <p><span class="rental-comp">Bay To Bay Shuttle: </span><br/> <span class="phone">(231) 373-5797</span> </p>
            <p><span class="rental-comp">By The Bay Tours: </span><br/> <span class="phone">(231) 932-1065</span> </p>
            <p> <span class="rental-comp">Cherry Capital Cab: </span><br/> <span class="phone">(231) 941-8294</span> </p>
            <p> <span class="rental-comp">Chippewa Cab: </span><br/> <span class="phone">(231) 946-4688</span> </p>
            <p> <span class="rental-comp">Dan’s Airport Transportation: </span><br/> <span class="phone">(231) 645-9696</span></p>
            <p> <span class="rental-comp">Grand Traverse Tours: </span><br/> <span class="phone">(231) 947-7433</span></p>
            <p><span class="rental-comp">Knight Transportation Service:</span><br/> <span class="phone"> (231) 218-5062 </span></p>
          <p> <span class="rental-comp">Sovereign Conveyance: </span><br/> <span class="phone">(231) 709-7207</span> </p>
            <p> <span class="rental-comp">TC Shuttle &amp; Car Service:</span><br/><span class="phone"> (231) 631-0004</span></p>
            <p>&nbsp;</p>
        </div>
    </div>
    <hr/>
     <div class="row-fluid">
        <div class="span6">
            <div class="row-fluid"> 
                <div class="span12">
                    <h2>Car Rental Companies</h2>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <img src="img/avis.gif"/>
                </div>
                <div class="span6">
                    <p>
                        Avis <span class="phone">(231) 946-1222</span><br/>
                        <span class="phone">(800) 331-1212 </span><br/>
                        <a target="_blank" href="http://avis.com">www.avis.com</a>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <img src="img/budget.gif"/>
                </div>
                <div class="span6">
                    <p>
                        Budget <span class="phone">(231) 947-3883</span><br/>
                        <span class="phone">(800) 527-0700</span>  <br/>
                        <a target="_blank" href="http://www.budget.com">www.budget.com</a>
                    </p>
                </div>
            </div>
             <div class="row-fluid">
                <div class="span6">
                    <img src="img/enterprise.gif"/>
                </div>
                <div class="span6">
                    <p>
                        Enterprise <span class="phone">(231) 922-2800</span><br/>
                        <span class="phone">(800) 261-7331</span><br/>
                        <a target="_blank" href="http://www.enterprise.com">www.enterprise.com</a>
                    </p>
                </div>
            </div>
             <div class="row-fluid">
                <div class="span6">
                    <img src="img/hertz.gif"/>
                </div>
                <div class="span6">
                    <p>
                        Hertz <span class="phone">(231) 946-7051</span><br/>
<span class="phone">(800) 654-3131</span> <br/>
                        <a target="_blank" href="http://www.hertz.com">www.hertz.com</a>
                    </p>
                </div>
            </div>
             <div class="row-fluid">
                <div class="span6">
                    <img src="img/national.gif"/>
                </div>
                <div class="span6">
                    <p>
                        National <span class="phone">(231) 947-1560</span><br/>
<span class="phone">(800) 227-7368</span> <br/>
                        <a target="_blank" href="http://www.nationalcar.com">www.nationalcar.com</a>
                    </p>
                </div>
            </div>
        </div>
     </div>
</div>