<div class="page-padding">
    <div class="row-fluid">
        <div class="span4">
            <h2>Long-Term</h2>
            <p>
            $ 2.00 each hour<br/>
            $ 6.75 maximum each day<br/>
            $ 40.00 maximum each week
            </p>
            <h2>Short-Term</h2>
            <p>
            $ 1.25 each 1/2 hour<br/>
            $ 10.00 maximum each day<br/>
            
            </p>
            <h2>Cell Phone Parking Area</h2>
            <p>Cherry Capital Airport provides the convenience of a cell phone parking area for those waiting to pick up arriving passengers.  The cell phone parking area is located on the east end of the main terminal curb (the area highlighted in yellow on the parking map).  These spaces allow free parking while you wait for your passenger to call you and let you know they are ready to be picked up in front of the terminal.  You must remain in your vehicle at all times in the cell phone parking area. </p>
        </div>
    </div>
</div>