<ul rn-carousel class="carousel">
    <li><img class="gallery-photo" src="img/gallery/acme-reeds_2176.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/beach-base-peninsula_2088.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/beach-morning-old-mis-pen_1628.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/beach-old-mis-pen_1684.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/beach_2158.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/bowers-harbor_2008.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/church-old-mis-pen_1657.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/dock-boats-old-mis_1621.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/east-bay-water-sky_2232.jpg"/></li>
    <li><img class="gallery-photo" src="img/gallery/hillside-cram-rd_7098.jpg"/></li>
</ul>
