<div class="page-padding">
   <div class="row-fluid">

   		<div class="span12">
       	 <p>This information is reprinted from the <a target="_blank" href="http://blog.tsa.gov">Transportation Security Administration (TSA) blog</a>. The TSA blog has up-to-date information on all of the new security measures for air travelers.  </p>
        </div>
        </div>
        
            
            <div class="row-fluid">
   		<div class="span12">
            <h2>TSA Contact Center</h2>
            <p>The Contact Center can be reached at <span class="phone">866-289-9673</span>.  Passengers can also reach out to the <a target="_blank" href="http://www.tsa.gov/contact-transportation-security-administration">TSA  Contact Center</a> (TCC) with questions about TSA procedures, upcoming travel  or to provide feedback or voice concerns.</p>
            </div>
            </div>
            
            <div class="row-fluid">
   		<div class="span12">
            <h2>TSA Cares Helpline</h2>
            <p>Travelers or families of passengers with disabilities and medical conditions  may call the <a target="_blank" href="http://www.tsa.gov/traveler-information/travelers-disabilities-and-medical-conditions">TSA  Cares</a> helpline toll free <span class="phone">855-787-2227</span>, prior to traveling with any  questions about screening policies, procedures and what to expect at the  security checkpoint..</p>
            </div>
            </div>
            <div class="row-fluid">
   		<div class="span12">
            <h2>Double Check Your Bag for Guns &amp; Hazardous Materials</h2>
            <p>Seriously!!!<strong> </strong>Our TSA officers find guns every day at checkpoints here in the US. A good percentage of those are loaded. Save yourself the hassle of a  bag check, a police interview and a potential arrest by making sure you leave  your gun at home. </p>
            <p>Most hazardous materials are forbidden in carry-on and checked baggage.   There are a few exceptions for some personal items such as toiletries,   medicines, battery powered electronics and assistive devices. For detailed information, please visit the <a target="_blank" href="http://www.faa.gov/about/initiatives/hazmat_safety/">PackSafe page on the FAA website</a></p>
            </div>
            </div>
            
            
            
            <div class="row-fluid">
   		<div class="span12">
            <h2>TSA on Twitter</h2>
            <p>For  travel tips, blog post announcements, and other useful information. You can  find a list of our national and regional twitter accounts <a target="_blank" href="http://www.tsa.gov/">on our website</a>.</p>
            </div>
            </div>
            
            <div class="row-fluid">
   		<div class="span12">
            <h2>National Center for Infectious Diseases (CDC)</h2>
            <p><strong>Travelers  Website:</strong> <a target="_blank" href="http://www.cdc.gov/">www.cdc.gov</a><br>
    Health  information for specific destinations. What to know before you go.  What medicines and vaccinations are recommended and information  on travel health warnings and precautions. </p>
            </div>
            </div>
            
            <div class="row-fluid">
   		<div class="span12">
            <h2>Information About Links to External Websites</h2>
            <p>The Cherry Capital Airport website has links to several government and private websites. Once you leave this app or the Cherry Capital Airport website, you are subject to the  disclaimers, security and privacy policies of the new website you are  viewing. </p>
        </div>
   </div>
</div>