<div class="page">
	<a href="#info/airlines" class="page-menu-item">
		Airlines
		<div class="arrow-right"></div>
	</a>
	<a href="#info/facilities" class="page-menu-item">
		Airport Facilities
		<div class="arrow-right"></div>
	</a>
	<a href="#info/ground-transport" class="page-menu-item">
		Ground Transportation
		<div class="arrow-right"></div>
	</a>
	<a href="https://www.google.com/maps/place/Cherry+Capital+Airport/@44.736893,-85.579587,17z/data=!3m1!4b1!4m2!3m1!1s0x881fcd125b902ba9:0xfff72872bdc528ed" target="_blank" class="page-menu-item">
		Maps &amp; Directions
		<div class="arrow-right"></div>
	</a>
	<a href="#info/parking" class="page-menu-item">
		Parking Map &amp; Rates
		<div class="arrow-right"></div>
	</a>
	<a href="#info/security" class="page-menu-item">
		Security &amp; Travel Tips
		<div class="arrow-right"></div>
	</a>
</div>