<div class="page-padding">
	<div class="section">
		<h2 class="trip-section-title">
			<div style="background-position:-30px" class="title-img"></div>Flight Information
		</h2>
		<div class="flight-section">
			<p><b>Did you park at TVC?</b>: Yes </p>
		</div>
		<h2 class="trip-section-title">
			<div style="background-position:-60px" class="title-img"></div>Departure Flight
		</h2>
		<div class="flight-section">
			<p><b>None</b></p>
		</div>
		<h2 class="trip-section-title">
			<div style="background-position:-90px" class="title-img"></div>Return Flight
		</h2>
		<div class="flight-section">
			<p><b>None</b></p>
		</div>
		<h2 class="trip-section-title">
			<div style="background-position:-120px" class="title-img"></div>Rental Car
		</h2>
		<div class="flight-section">
			<p><b>None</b></p>
		</div>
		<h2 class="trip-section-title">
			<div style="background-position:-150px" class="title-img"></div>Lodging
		</h2>
		<div class="flight-section">
			<p><b>None</b></p>
		</div>
		<h2 class="trip-section-title">
			<div style="background-position:-180px" class="title-img"></div>Other Information
		</h2>
		<div class="flight-section">
			<p><b>None</b></p>
		</div>
	</div>
</div>